<h2>Styles within "<%= @category.name %>"...</h2>

<table class="table">

  <tbody>
<%= for s <- Beer.get_styles_by_category(@category) do %>
    <tr>
      <td><%= "#{s.name}" %></td>

      <td class="text-right">
        <span><%= link "View Style", to: style_path(@conn, :show, s), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Browse by Category", to: category_path(@conn, :index) %></span>
