/* This file is for your main application css. */
@import "bootstrap";

#beer-list-div {
	max-width: 1000px;
	height: 1000px;
	overflow: auto;
}

#beer-list-table {
	background-color: powderblue;
	border: 5px solid grey;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.default-image {
	height: 150px;
	width: 150px;
}

.blue-card {
	background-color: powderblue;
	border: 3px solid grey;
}

.error-text {
	color: red;
}

#username {
	color: green;
}

.message-row {
	border: 3px solid green;
}

.timestamp {
	color: grey;
}

.edit-button {
	color: #F1C40F;
}

.delete-button {
	color: red;
}

/* from https://stackoverflow.com/questions/35933317/
        how-do-i-make-footer-line-up-at-the-bottom-of-bootstrap-cards-component 
   not currently working */
.view-brewery {
	position: absolute;
  bottom: 3px;
  left: 24.9px;
  width: 80%;
}
