<h2>Browse Breweries by State...</h2>


<%= for state <- Application.get_env(:whats_hoppin, :states) do %>

  <p><%= state %></p>
<%# 
  <span><%= link "yo", to: BreweryController.show_state_index(@conn, state) %></span>
<% end %>

<span><%= link "New Brewery", to: brewery_path(@conn, :new) %></span>
