<div class="jumbotron center">
  <h2>WhatsHoppin?</h2>
  <p class="lead">Join the conversation with other beer lovers!</p>
</div>

<div class="row text-center justify-content-center">
    <%= link "Browse Breweries by State", to: state_path(@conn, :index), class: "btn btn-primary"%>
</div>

<div class="row text-center justify-content-center">
    <%= link "Browse Beers by Category", to: category_path(@conn, :index), class: "btn btn-primary"%>
</div>

